body {
    max-width: 670px;
    margin: auto;
    padding: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    display: grid;    
}

a {
    text-decoration: none;
    border-bottom: 1px solid black;

    padding: 1rem;
}

a:nth-child(odd) {
    background-color: #eee;
}